body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: gray;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background: yellow;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

li.purchased {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

button.clear {
    background: transparent;
    border-radius: 5px;
    margin-top: 10px;
}

button.clear:hover {
    background: red;
}